{% extends 'base.html' %}
{% load chartit %}

{% block extrascript %}
  {% if chart %}
    {{ chart|load_charts:"container" }}
  {% endif %}
{% endblock %}

{% block content %}

<div class="row">
  <h1 class="col-md-10"><span class="muted">Plan:</span> #{{ object.pk|stringformat:"03d" }} <em>{{ object.name }}</em></h1>
  <a class="col-md-1 push-md-1 btn btn-primary" target="_blank" href="{% url 'admin:exercise_plan_change' object.id %}">Edit</a>
</div>

<hr>

<div class="row">
  <h2 class="col-md-6"><span class="muted">Created by:</span> {{ object.therapist }}</h2>
  <h2 class="col-md-6 text-xs-right"><span class="muted">For patient:</span> {{ object.patient }}</h2>
  <div class="col-md-12">
    <p class="lead">{{ object.description }}</p>
  </div>
</div>

<hr>

{% if chart %}
<div class="row">
  <div class="col-md-12">
    <div id="container">Chart</div>
  </div>
</div>

<hr>
{% endif %}

<div class="row">
  <div class="col-md-12">
  {% if object.exercises.count %}
    <h2>This treatment plan consists of {{ object.exercises.count }} exercises.</h2>
  {% else %}
    <h2>This treatment plan does not yet have any exercises!</h2>
  {% endif %}
  </div>
</div>


<div class="row exercise-report">
  {% for exercise in object.planexercise_set.all %}
    <div class="col-md-6">
      <h3>{{ exercise.order }}: {{ exercise.name }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Guidelines</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ exercise.exercise.get_type_of_exercise_display }}</td>
            <td>{{ exercise.guidelines }}</td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th width="25%">When</th>
            <th width="25%">Duration</th>
            <th width="25%">Count</th>
            <th width="25%">Target</th>
        </thead>
        <tbody>
        {% regroup exercise.exerciserecord_set.all by start.date as records %}
        {% for group in records %}
          <tr>
            <td colspan="4" class="text-xs-center alert {% if exercise.count > group.list|length %}alert-danger{% else %}alert-success{% endif %}">{{ group.grouper }}</td>
          </tr>

          {% for record in group.list %}
          <tr>
            <td>{{ record.start|date:'h:m:s ' }}</td>
            <td>{{ record.completed_time }}</td>
            <td>{{ record.count }}</td>
            <td>
              <span class="btn {% if record.percentage >= 80 %}btn-success{% elif record.percentage >= 50 %}btn-warning{% else %}btn-danger{% endif%}">
                {{ record.percentage|stringformat:"0d" }}%
              </span>
            </td>
          </tr>
          {% endfor %}

        {% empty %}
          <td colspan="4">Nothing yet!</td>
        {% endfor %}
        </tbody>
      </table>

    </div>
  {% endfor %}

</div>

{% endblock %}
