.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #ef6962;
  border-color: #eed3d7;
  color: #b94a48; }

.navbar {
  border-radius: 0px; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

[hidden][style="display: block;"] {
  display: block !important; }

.bg-inverse {
  background-color: #ef6962 !important; }

a, a:hover, a:visited {
  color: #991610; }

#dad_logo_api {
  float: left;
  height: 25px;
  margin: 15px 5px 5px; }

#dad_logo {
  float: left;
  height: 25px;
  margin: 5px 15px 5px 5px; }

#about_iframe {
  width: 100%;
  height: 600px;
  border: none; }

#convalesense_logo {
  height: 30px;
  float: left;
  margin: 5px 15px 5px 5px; }

.muted {
  color: #AAA; }

html {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: white;
  color: #223; }
  body.home {
    background-color: #ef6962;
    background-image: url(../images/splash.png);
    background-repeat: repeat;
    background-size: auto; }

.btn-primary {
  background-color: #50E3C2;
  border-color: #24dcb3;
  color: white !important;
  cursor: pointer; }

.btn-primary:hover {
  background-color: #1cb18f;
  border-color: #1cb18f; }

text > tspan:nth-child(1) {
  display: none; }

.home-logo {
  width: 60%; }

.exercise-report {
  margin-top: 2em; }

a.btn-success, a.btn-info, a.btn-warning {
  color: white; }

a.btn-info {
  background-color: #50E3C2; }
