
// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #ef6962;
$dark-pink: #eed3d7;
$red: #b94a48;
$dad-blue: #101125;
$dad-cyan: #50E3C2;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
		//Navbar//
////////////////////////////////

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

////////////////////////////////
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

.bg-inverse {
  background-color: $pink !important;
}


a, a:hover, a:visited {
  color: darken($pink, 33%);
}


#dad_logo_api {
  float: left;
  height: 25px;
  margin: 15px 5px 5px;
}

#dad_logo {
  float: left;
  height: 25px;
  margin: 5px 15px 5px 5px;
}

#about_iframe {
  width: 100%;
  height: 600px;
  border: none;
}

#convalesense_logo {
  height: 30px;
  float: left;
  margin: 5px 15px 5px 5px;
}

.muted {
  color: #AAA;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: white;
  color: #223;

  &.home {
    background-color: $pink;
    background-image: url(../images/splash.png);
    background-repeat: repeat;
    background-size: auto;
  }

}



.btn-primary {
  background-color: $dad-cyan;
  border-color: darken($dad-cyan, 10%);
  color: white !important;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: darken($dad-cyan, 20%);
  border-color: darken($dad-cyan, 20%);
}



text > tspan:nth-child(1) {
    display: none;
}


.home-logo {
  width: 60%;
}

.exercise-report {
  margin-top: 2em;
}

a.btn-success, a.btn-info, a.btn-warning {
  color: white;
}

a.btn-info {
  background-color: $dad-cyan;
}
